@model List<DAL.HelperClasses.JewelryHelper>
@{
    ViewBag.Title = "EditJewelry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>Produkter</h2>
    @if (Model != null)
    {
        <div class="col-sm-12">
            <div class="list-group col-sm-6">
                @foreach (var item in Model)
                {
            <div class="input-group">
                <a aria-describedby="basic-addon2" class="form-control list-group-item" href="@Url.Action("EditJewelry", "Admin", new { id = item.ID})">@item.Name</a>
                <a href="@Url.Action("RemoveJewelry", "Admin", new { id = item.ID})" data-toggle=" modal" data-target="#myModal" class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-trash pull-right"></span></a>
            </div>
            }

            </div>
        </div>
    }
</div>