

<div class="hero-slider owl-carousel product clearfix owl-theme" style="display: block; opacity: 1;" id="conseil">


    <div class="owl-controls"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div>
</div>


<div class="thumb-container">

    <div class="heroslider-previous"><img src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/prev.png?5241770967538291092" alt="Previous Slide"></div>
    <div class="heroslider-next"><img src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/next.png?5241770967538291092" alt="Next Slide"></div>

    <div class="container">

        <div class="thumb-slider owl-carousel clearfix owl-theme" style="display: block; opacity: 1;">

            <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="display: block; width: 1800px; left: 0px; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);">
                    <div class="owl-item" style="width: 150px;">
                        <div class="item">

                            <img class="image-shift" src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/slide-mason-thumb.png?5241770967538291092" alt="Mason">

                        </div>
                    </div><div class="owl-item" style="width: 150px;">
                        <div class="item">

                            <img class="image-shift" src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/slide-fairline-thumb.png?5241770967538291092" alt="Fairline">

                        </div>
                    </div><div class="owl-item synced" style="width: 150px;">
                        <div class="item">

                            <img class="image-shift" src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/slide-bailey-thumb.png?5241770967538291092" alt="Bailey">

                        </div>
                    </div><div class="owl-item" style="width: 150px;">
                        <div class="item">

                            <img class="image-shift" src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/slide-hunter-thumb.png?5241770967538291092" alt="Hunter">

                        </div>
                    </div><div class="owl-item" style="width: 150px;">
                        <div class="item">

                            <img class="image-shift" src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/slide-cruiser-thumb.png?5241770967538291092" alt="Cruiser">

                        </div>
                    </div><div class="owl-item" style="width: 150px;">
                        <div class="item">

                            <img class="image-shift" src="//cdn.shopify.com/s/files/1/0558/6657/t/1/assets/slide-classic-thumb.png?5241770967538291092" alt="Classic">

                        </div>
                    </div>
                </div>
            </div><!-- end .item -->
            <!-- end .item -->
            <!-- end .item -->
            <!-- end .item -->
            <!-- end .item -->
            <!-- end .item -->

        </div><!-- end .thumb-slider -->

    </div><!-- end .container -->

</div>