
<section class="infoSection" id="info">
       <h2 class="text-center h2-text">The inspiration is happening - Follow today!</h2>
       <p class="text-center">Inspired by our love for enhancing digital images and video, we wanted to create a way to filter our view whilst being disconnected from technology.</p>
</section>
