@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    
}
@section side
{
    Länkar!!
}
<div class="jumbotron">
    <h1>Fannys Smycken</h1>
</div>

<div class="col-md-12">
    <div class="row margin">
        <div class="col-md-4">
            <a href="#"><img src="~/Images/images.jpg" /></a>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="~/Images/images1.jpg" /></a>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="~/Images/images2.jpg" /></a>
        </div>
    </div>


    <div class="row margin">
        <div class="col-md-4">
            <a href="#">
                <img src="~/Images/images3.jpg"/></a>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="~/Images/images4.jpg" /></a>
        </div>
        <div class="col-md-4">
            <a href="#"><img src="~/Images/images.jpg" /></a>
        </div>
    </div>
</div>