@model List<DAL.HelperClasses.ImageHelper>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    int count = 0;
}

@Html.Partial("_Carousel")

<hr style="height:0.1em; opacity: 0.3;" />

<div>
    <div class="row margin">
        @foreach (var image in Model)
        {
            <a href="/Jewelry/@image.Categori" class="col-md-3 col-sm-6 col-xs-12">
                <img class="news col-md-12" src="~/Images/@image.FileName" />
                <p class="caption col-md-12">@image.Description</p>
            </a>
            count++;
            if (count == 4)
            {
                <hr style="height:0.05em; width: 100%; opacity: 0.3;" />
            }
        }
    </div>
</div>

<hr style="height:0.05em; opacity: 0.3" />
