@model List<DAL.HelperClasses.ImageHelper>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

@Html.Partial("_Carousel")
@Html.Partial("_InfoSection")

<hr style="height:0.1em; opacity: 0.3;" />

<div>

    <div class="row margin">
        @foreach (var image in Model)
        {
            <div class="col-sm-6 col-md-3">
                <a class="thumbnail" href="/Jewelry/@image.Category">
                    <img src="~/Images/@image.FileName" />
                    <p class="category col-xs-12 col-sm-12">@image.Description</p>
                </a>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#owl-example").owlCarousel();

    });
</script>

<hr style="height:0.05em; opacity: 0.3" />
