
@model List<DAL.HelperClasses.ContactHelper>

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section side
{
    Länkar!!
}
<h1>Test</h1>

@foreach (var test in Model)
{
   <p>@test.Name</p>
   <p>@test.Title</p>
   <p>@test.Date</p>
   <p>@test.Message</p>
}

