@model List<DAL.HelperClasses.AncleJewelryHelper>

@{
    ViewBag.Title = "AncleJewelry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin">
    @foreach (var item in Model)
    {
        <a href="#" class="col-md-4 col-sm-6 col-xs-12">
            <h3>@item.Name</h3>
            <img class="col-md-12 fluid" src="~/Images/@item.ImgURL" />
            <p>@item.Description</p>
            <p>@item.Price kr</p>
        </a>
    }
</div>