@model List<DAL.HelperClasses.JewelryHelper>

@{
    ViewBag.Title = "AncleJewelry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Ankelsmycken</h2>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("ShowOneJewelry", "Jewelry", new { id = item.ID})">
                        @if (item.ImageFileName != null)
                        {
                            <img src="~/Images/@item.ImageFileName" />
                        }
                        else
                        {
                            <img src="~/Images/imageMissing.jpg" />
                        }
                        <div class="caption text-center">
                            <h3>@item.Name</h3>
                            <p>@item.Price kr</p>
                        </div>
                    </a>
                    <div class="centeredButton">
                        <a class="btn btn-default text-center">LÄGG I VARUKORG</a>
                    </div>
                </div>
            </div>
        }
    }
</div>