@model List<DAL.HelperClasses.EarringsHelper>

@{
    ViewBag.Title = "Earrings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin">
    <h2>Örhängen</h2>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a href="#">
                        <img src="~/Images/@item.ImageFileName" />
                        <div class="caption">
                            <h3>@item.Name</h3>
                            <p>@item.Description</p>
                            <p>@item.Price kr</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
</div>