@model List<DAL.HelperClasses.NecklaceHelper>

@{
    ViewBag.Title = "Necklace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row margin">
    <h2>Halsband</h2>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <a href="#" class="col-md-4 col-sm-6 col-xs-12">
                <h3>@item.Name</h3>
                <img class="col-md-12 fluid" src="~/Images/@item.ImageFileName" />
                <p>@item.Description</p>
                <p>@item.Price kr</p>
            </a>
        }
    }
</div>