@model List<DAL.HelperClasses.JewelryHelper>

@{
    ViewBag.Title = "Necklace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Alla Smycken</h2>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <a href="@Url.Action("ShowOneJewelry", "Jewelry", new { id = item.ID})">
                        @if (item.ImageFileName != null)
                        {
                            <img src="~/Images/@item.ImageFileName" />
                        }
                        else
                        {
                            <img src="~/Images/imageMissing.jpg" />
                        }
                        <div class="caption">
                            <h3>@item.Name</h3>
                            <p>@item.Description</p>
                            <p>@item.Price kr</p>
                        </div>
                    </a>
                </div>
            </div>
        }
    }
</div>