@model DAL.HelperClasses.JewelryHelper

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (Model != null)
    {
        <div class="col-sm-7">
            <div class="thumbnail">
                @if (Model.PictureFileName != null)
                {
                    <img src="~/Images/@Model.PictureFileName" />
                }
                else
                {
                    <img src="~/Images/imageMissing.jpg" />
                }
            </div>
        </div>
        <div class="col-sm-5">

            <div class="caption">
                <h2>@Model.Name</h2>
                <p>@Model.Description</p>
                <h3>@Model.Price kr</h3>
                @if (Model.Quantity <= 1)
                {
                    if (Model.Quantity <= 4)
                    {
                        <p>Lagerstatus: <span class="label label-success">I lager</span> </p>
                    }
                    else
                    {
                        <p>Lagerstatus: <span class="label label-warning">I lager</span> </p>
                    }

                }
                else
                {
                    <p>Lagerstatus: <span class="label label-danger">Ej i lager</span> </p>
                }
                <input type="number" value="1" min="1" max="10" class="form-control" />
                <a class="btn btn-default">LÄGG I VARUKORG</a>
            </div>

        </div>

    }
</div>